/*
  This is an extremely minimalist, opiniated CSS styling that can be applied to
  the HTML export. It applies roughly the same styling to the generated HTML as
  you will see in the exported PDF.
*/

* {
  box-sizing: border-box;
}

body,
html {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

#occupation {
  font-size: 1.5rem;
}

dl {
  &.section {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: auto;
    column-gap: 20px;
    row-gap: 20px;

    dt {
      text-align: right;
    }

    dd {
      margin: 0;
    }
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-bottom: 10px;
  }
}
